$color_1: #736962;
$color_2: #343a40;
$color_3: #DE2424;
$color_4: #fff;
$font-family_1: 'Beiruti', sans-serif;
$font-family_2: 'Noor', sans-serif;
$background-color_1: #f8f9fa;
$background-color_2: #F1F0EF;
$background-color_3: #dc3545;

/* General Styling */
/* Navbar Styling */
/* Hero Section Styling */
/* Cart & Language Styling */
/* Mobile Styling */
body {
	font-family: $font-family_1;
	background-color: $background-color_1;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    h1,h2,h3,h4,h5,h6,p{
        margin: 0;
    }
    a{
        text-decoration: none;
    }
    .btn {
        font-family: $font-family_2;
		padding: 10px 25px;
		font-size: 16px;
		border-radius: 30px;
		background-color: $color_3;
		border: none;
        transition: all 0.3s ease;
        margin-top: 0.5rem;
        &:hover{
            transform: translateY(-2px);
        }
	}
    .img-cover{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .sec-head{
        color: $color_3;
        font-family: $font-family_1;
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 40px;
    }
}
.container{
    position: relative;
    z-index: 5;
}
.navbar {
	background-color: $background-color_2;
	.search-form {
        width: 100%;
		position: relative;
		.search-btn {
			position: absolute;
			left: 20px;
			top: 50%;
			transform: translatey(-50%);
			border: 0;
			background: transparent;
			color: $color_1;
		}
        .form-control {
            border-radius: 8px;
            padding: 10px 20px 10px 20px;
            border: 0.25px solid #163160;
        }
	}
    .cart{
        display: inline-flex;
        align-items: center;
        .cart-icon{
            position: relative;
            .fa-shopping-cart {
                font-size: 1.2rem;
                margin-right: 0.5rem;
                color: #000;
            }
            .count{
                position: absolute;
                width: 20px;
                height: 20px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color: $color_3;
                color: #fff;
                border-radius: 50%;
                top: -10px;
                right: 0;
            }
        }
        .cart-cont{
            display: inline-flex;
            flex-direction: column;
            font-family: $font-family_2;
            font-size: 13px;
            font-weight: 200;
            color: #000;
            span{
                font-size: 16px;
                font-weight: 400;
                color: #000;
            }
            .cart-price{
                .currency{
                    margin-right: 5px;
                    color: #000;
                }
                .total-price{
                    color: $color_3;
                }
            }
        }
    }
    .navbar-toggler{
        border: 0;
        padding: 0;
    }
    .language-dropdown {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 10px 20px;
        border: 1px solid #ccc; /* Add a border if needed */
        border-radius: 4px; /* Rounded corners */
        .selected-language {
            margin-right: 8px;
        }
        .caret {
            margin-right: 10px;
            border: solid black; /* Customize the caret color */
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(45deg);
        }       
        .dropdown-menu {
            display: none; /* Hidden by default */
        }
        &:hover{
            .dropdown-menu,
            .dropdown-menu:hover {
                display: block; /* Show on hover */
            }
        } 
        .dropdown-item {
            padding: 8px 12px; /* Adjust padding */
            cursor: pointer;
            &:hover{
                :hover {
                    background-color: #e9ecef; /* Hover background color */
                }
            }
        }
    }
    .currency-dropdown{
        display: inline-block;
        .currency-selector {
            display: flex;
            align-items: center;
            cursor: pointer;
            .selected-currency {
                margin-right: 8px;
            }
            .dropdown-menu {
                display: none; /* Hidden by default */
            }
            &:hover{
                .dropdown-menu,
                .dropdown-menu:hover {
                    display: block; /* Show on hover */
                }
            } 
            .dropdown-item {
                padding: 8px 12px; /* Adjust padding */
                cursor: pointer;
                &:hover {
                    background-color: #e9ecef; /* Hover background color */
                }
            }
        }
    }
}
.navbar-brand {
	img {
		width: 90px
	}
}
.navbar-nav {
	.nav-link {
        font-size: 20px;
		color: $color_2;
		font-weight: 500;
		padding: 0.5rem 1rem;
		&:hover {
			color: $color_3;
		}
	}
}
.sidemenu-toggle {
    position: relative;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    color: #000;
    &:hover {
        color: #000;
    }
}
.sidemenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #0002;
    backdrop-filter: blur(10px);
    background-size: 300px;
    background-repeat: repeat;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
    transform: translateY(-100%);
    overflow: hidden;
    transition: transform 0.5s ease, opacity 0.5s ease, visibility 0s linear 0.5s;
    .main-links {
        position: relative;
        padding-inline-start: 6vw;
        display: flex;
        align-items: center;
        height: 100vh;
        ul{
            margin: 0;
            padding: 0;
            li{
                list-style-type: none;
            }
        }
        .main-link {
            position: relative;
            font-size: 20px;
            font-weight: bolder;
            margin: 15px 0;
            text-transform: uppercase;
            transform: scale(1.2) translateX(50px);
            transition: all 0.2s linear;
            padding-left: 40px;
            color: #fff;
        }
    }
    .clss {
        font-size: 30px;
        position: absolute;
        top: 25px;
        right: 5.5vw;
        cursor: pointer;
    }
    &.open {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        transition: transform 0.5s ease, opacity 0.5s ease, visibility 0s linear;
    }
}
.hero-section {
	position: relative;
    background-image: url(images/hero-bg.jpg);
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    &::before{
        z-index: -1;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.6;
        background-image: linear-gradient(to bottom,#000000 0% , #000000 100% );
    }
    .hero-slider{
        position: relative;
        overflow: hidden;
        .item{
            height: 700px;
            width: 100%;
            height: 100%;
        }
    }
}
.category-section{
    padding: 120px 0;
    .categories{
        flex-wrap: nowrap;
    }
    .item{
        margin-bottom: 15px;
        .img{
            position: relative;
            margin: auto;
            width: 100px;
            height: 100px;
            overflow: hidden;
            border-radius: 50%;
            box-shadow: inset 0 4px 4px -1px rgba(12, 12, 13, 0.05);
            background-image: url('images/category-1-bg.png');
            background-position: center;
            background-size: cover;
            display: flex;
            align-items: end;
            img{
                transition: all 0.3s ease;
                height: 80px;
                object-fit: contain;
                // transform: scale(0.5);
            }
            &:hover{
                img{
                    height: 100%;
                }
            }
        }
        .cont{
            margin-top: 10px;
            h6{
                font-size: 16px;
                font-weight: 400;
                font-family: $font-family_2;
            }
        }
    }
}
.top-seller-section{
    padding-bottom: 120px;
    .prodcuts{

    }
    .item{
        position: relative;
        overflow: hidden;
        padding: 8px;
        background-color: #F6F6F6;
        border-radius: 15px;
        margin-bottom: 30px;
        transition: all 0.3s ease;
        .img {
            height: 150px;
            width: 100%;
            border-radius: 10px;
            overflow: hidden;
            position: relative;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: contain;
                transition: opacity 0.3s ease;
                opacity: 0; /* Start with opacity 0 */
            }

            img:first-child {
                opacity: 1; /* The first image starts fully visible */
            }
        }
        .title{
            font-family: $font-family_2;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 10px;
            color: #000;
        }
        .price{
            font-family: $font-family_2;
            font-size: 16px;
            font-weight: bold;
            color: #163160;
            margin-bottom: 10px;
            .old-price{
                margin-right: 5px;
                color: #BCB3AD;
                font-family: $font-family_2;
                font-size: 13px;
                font-weight: 200;
                text-decoration: line-through;
            }
            .discount{
                font-family: $font-family_2;
                font-size: 13px;
                font-weight: 200;
                color: $color_3;
            }
        }
        .quantity{
            font-family: $font-family_2;
            font-size: 13px;
            font-weight: 400;
            color: $color_3;
        }
        .btn{
            background-color: #14AE5C;
            color: #fff;
            margin-bottom: 20px;
        }
        .quantity-selector {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            padding: 5px 35px;
            button{
                border: 0;
                background-color: transparent;
                margin: 0;
                color: #fff;
                font-size: 18px; /* Size of + and - icons */
                cursor: pointer;
            }
            input{
                width: 50px; /* Adjust width for a better fit */
                color: #fff;
                text-align: center;
                padding: 5px 0;
                margin: 0 10px;
                border: 0;
                background-color: transparent;
                font-size: 16px; /* Ensure input font size matches */
                appearance: textfield; /* Remove number input arrows in some browsers */
                -moz-appearance: textfield; /* Remove arrows in Firefox */
                &::-webkit-scrollbar {
                    display: none; /* Hide scrollbars */
                }
            }
        }
        .item-tag{
            z-index: 9;
            border-radius: 16px 16px 0 16px;
            position: absolute;
            right: 0;
            top: 0;
            padding: 5px 15px;
            color: #fff;
        }
        .out-of-stock-tag{
            background-color: #f1f0ef;
            color: #4F4F4F;
        }
        .gift-tag{
            background-color: #14AE5C;
        }
        .runway-tag{
            background-color: $color_3;
        }
        .top-seller-tag{
            background-color: #2B2724;
        }
        .delivery-tag{
            background-color: #1466E1;
        }
        &:hover{
            box-shadow: 4px 4px 10px #0002;
        }
    }
}
.recently-section{
    padding-bottom: 120px;
    .products-slider {
        position: relative; /* To position the arrows relative to this container */
        .slider{
            overflow: hidden;
        }
        .item{
            transition: all 0.3s;
            position: relative;
            overflow: hidden;
            padding: 8px;
            background-color: #F6F6F6;
            border-radius: 15px;
            margin-bottom: 30px;
            &:hover{
                box-shadow: 4px 4px 10px #0002;
            }
            .img {
                height: 150px;
                width: 100%;
                border-radius: 10px;
                overflow: hidden;
                position: relative;
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    transition: opacity 0.3s ease;
                    opacity: 0; /* Start with opacity 0 */
                }    
                img:first-child {
                    opacity: 1; /* The first image starts fully visible */
                }
            }
            .title{
                font-family: $font-family_2;
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 10px;
                color: #000;
            }
            .price{
                font-family: $font-family_2;
                font-size: 16px;
                font-weight: bold;
                color: #163160;
                margin-bottom: 10px;
                .old-price{
                    margin-right: 5px;
                    color: #BCB3AD;
                    font-family: $font-family_2;
                    font-size: 13px;
                    font-weight: 200;
                    text-decoration: line-through;
                }
                .discount{
                    font-family: $font-family_2;
                    font-size: 13px;
                    font-weight: 200;
                    color: $color_3;
                }
            }
            .quantity{
                font-family: $font-family_2;
                font-size: 13px;
                font-weight: 400;
                color: $color_3;
            }
            .btn{
                background-color: #14AE5C;
                color: #fff;
                margin-bottom: 20px;
            }
            .quantity-selector {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                padding: 5px 35px;
                button{
                    border: 0;
                    background-color: transparent;
                    margin: 0;
                    color: #fff;
                    font-size: 18px; /* Size of + and - icons */
                    cursor: pointer;
                }
                input{
                    width: 50px; /* Adjust width for a better fit */
                    color: #fff;
                    text-align: center;
                    padding: 5px 0;
                    margin: 0 10px;
                    border: 0;
                    background-color: transparent;
                    font-size: 16px; /* Ensure input font size matches */
                    appearance: textfield; /* Remove number input arrows in some browsers */
                    -moz-appearance: textfield; /* Remove arrows in Firefox */
                    &::-webkit-scrollbar {
                        display: none; /* Hide scrollbars */
                    }
                }
            }
            .item-tag{
                z-index: 9;
                border-radius: 16px 16px 0 16px;
                position: absolute;
                right: 0;
                top: 0;
                padding: 5px 15px;
                color: #fff;
            }
            .out-of-stock-tag{
                background-color: #f1f0ef;
                color: #4F4F4F;
            }
            .gift-tag{
                background-color: #14AE5C;
            }
            .runway-tag{
                background-color: $color_3;
            }
            .top-seller-tag{
                background-color: #2B2724;
            }
            .delivery-tag{
                background-color: #1466E1;
            }
        }
        .swiper-button-prev,
        .swiper-button-next {
            position: absolute;
            top: 50%; /* Center vertically */
            transform: translateY(-50%); /* Adjust for centering */
            z-index: 10; /* Ensure arrows are above other elements */
            color: #fff;
            background-color: $color_3;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            i{
                line-height: 0;
                font-size: 16px;
            }
            &::after{
                display: none;
            }
        }
        .swiper-button-prev {
            left: -30px; /* Adjust as needed */
            right: unset;
        }
        
        .swiper-button-next {
            right: -40px; /* Adjust as needed */
            left: unset;
        }
    }
}
.ads-section{
    padding-bottom: 120px;
    .ads-wrapper{
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        gap: 20px;
        .ad-box{
            height: 230px;
            border-radius: 24px;
            overflow: hidden;
        }
        .black-friday-ad{
            width: 30%;
        }
        .hot-sale-ad{
            width: 70%;
        }
    }
}
.top-footer{
    position: relative;
    background-color: #000;
    padding: 40px 0;
    .item{
        text-align: center;
        margin-bottom: 20px;
        .img{
            border: 10px solid white;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: #000;
            margin-bottom: 20px;
            img{
                width: 48px;
                height: 48px;
                object-fit: contain;
            }
        }
        .title{
            font-family: $font-family_2;
            font-size: 16px;
            font-weight: 400;
            color: $color_3;
            margin-bottom: 10px;
        }
        .description{
            color: #F1F0EF;
            font-family: $font-family_2;
            font-size: 14px;
            font-weight: 400;
        }
    }
    &::after{
        position: absolute;
        content: "";
        width: 100%;
        height: 30%;
        left: 0;
        top: 0;
        background-color: #fff;
    }
}
footer{
    background-color: #000000;
    .links-content{
        padding: 40px 0;
        p{
            font-size: 20px;
            font-weight: 400;
            color: #F9F8F7;
        }
        .footer-logo{
            margin-bottom: 15px;
        }
        .social-links{
            margin-top: 20px;
            h5{
                color: $color_3;
                font-weight: bold;
                font-size: 20px;
                margin-bottom: 10px;
            }
            p{
                font-size: 16px;
            }
            .social-icons{
                margin-top: 20px;
                gap: 15px;
                svg{
                    width: 22px;
                    height: 22px;
                    fill: #fff;
                }
            }
        }
        .links{
            margin-bottom: 15px;
            h5{
                color: #A31B1B;
                font-weight: bold;
                font-size: 24px;
                margin-bottom: 10px;
            }
            ul{
                margin: 0;
                padding: 0;
                li{
                    margin-bottom: 10px;
                    padding: 0;
                    list-style-type: none;
                    color: #F6F6F6;
                    font-size: 18px;
                    font-weight: 400;
                    a{
                        color: inherit;
                        text-decoration: none;
                    }
                }
            }
            .item{
                margin-bottom: 20px;
                .title{
                    color: #F6F6F6;
                    font-size: 18px;
                    margin-bottom: 5px;
                    img{
                        width: 24px;
                        height: 24px;
                        margin-left: 10px;
                    }
                }
                .description{
                    font-family: $font-family_2;
                    color: #F6F6F6;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
        .subscribe{
            h5{
                color: #A31B1B;
                font-weight: bold;
                font-size: 24px;
                margin-bottom: 10px;
            }
            .subscribe-form{
                width: 100%;
                margin-top: 20px;
                color: #fff;
                &::placeholder{
                    color: #D5D0CC;
                }
                .form-input{
                    position: relative;
                    .form-control{
                        text-align: right;
                        padding: 10px 20px;
                        background-color: transparent;
                        border: 1px solid $color_3;
                        color: #fff;
                        box-shadow: unset;
                    }
                    button{
                        height: 100%;
                        top: 0;
                        left: 0;
                        position: absolute;
                        color: #fff;
                        background-color: $color_3;
                        margin: unset;
                        border-radius: 0px 30px 30px 0px;
                    }
                }
            }
        }
    }
}
.copy-right{
    background-color: #2B2724;
    padding: 20px 0;
    background-image: url('images/footer-bottom-bg.png');
    background-position: center;
    background-size: cover;
    p{
        font-size: 18px;
        color: #D5D0CC;
    }
}
@media (max-width: 991px) {
	.navbar {
		.d-flex {
			justify-content: center;
		}
	}
	.hero-section {
        .hero-slider{
            .item{
                height: 250px;
            }
        }
	}
    .top-seller-section{
        .prodcuts{
            flex-wrap: wrap;
        }
    }
    br{
        display: none;
    }
    .md-mb50{
        margin-bottom: 50px;
    }
    .md-mb30{
        margin-bottom: 30px;
    }
    .category-section .categories{
        flex-wrap: wrap;
    }
    .recently-section{
        .products-slider{
            .swiper-button-next{
                right: 0;
            }
            .swiper-button-prev{
                left: 0;
            }
        }
    }
    .ads-section {
        .ads-wrapper{
            flex-wrap: wrap;
            .ad-box{
                width: 100%;
            }
        }
    }
    
    .top-footer{
        &::after{
            height: 18%;
        }
    }
    footer{
        .footer-logo{
            width: 200px;
        }
    }
}
